.nps .btn {
  background-color: #ffe3ed;
  border: 1px solid #df598c;
  border-radius: 3px;
  color: #df598c;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nps .btn:focus,
.nps .btn:active {
  outline: none;
}

.nps .btn:hover {
  background-color: #df598c;
  color: #ffffff;
}

.nps .btn--submit {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
  pointer-events: none;
}

.nps .btn--submit.active {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  pointer-events: all;
}

.nps {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  left: 50%;
  padding: 1.2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 640px;
}

.nps-scoreDetails.hidden {
  display: none;
}

.nps-text {
  color: #7a7e7f;
  margin: 2rem 0 3rem;
}

.nps-text span {
  color: #6a6e6f;
  font-weight: 700;
}

.nps-close {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  height: 34px;
  position: absolute;
  right: -17px;
  top: -17px;
  width: 34px;
}
.score-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.score {
  background-color: #ffe3ed;
  border: 1px solid #df598c;
  border-radius: 3px;
  color: #df598c;
  cursor: pointer;
  height: 30px;
  line-height: calc(30px - 0.75rem);
  margin-top: 2rem;
  padding: 0.375rem;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 30px;
}

.score:hover {
  background-color: #df598c;
  color: #fff;
}

.score.active {
  background-color: #df598c;
  color: #fff;
}

.help-txt {
  color: #df598c;
  font-size: 0.9rem;
  opacity: 0.8;
  position: absolute;
  top: -0.5rem;
}

.help-txt--low {
  left: 0;
}

.help-txt--high {
  right: 0;
}

.nps-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 3rem;
}

.thankYou {
  display: none;
  margin: 3rem 0;
}

.thankYou.active {
  display: block;
}

.thankYou h2 {
  font-size: 1.8rem;
}

.hidden {
  display: none;
}
