* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  padding: 3rem;
  min-height: 100vh;
}

.btn {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3 ease-in;
  -o-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 860px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}

.dashboard h1,
.dashboard h2 {
  font-size: 2.3rem;
  text-align: center;
}

.dashboard h1 {
  font-size: 6rem;
  margin-top: 1.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}

.card h4 {
  font-size: 1.6rem;
  text-align: center;
}

.card h3 {
  font-size: 2.5rem;
  text-align: center;
}

.card--nps {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  width: 100%;
}

.card--totals,
.card--totals24,
.card--change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 31%;
}

.card--totals h3,
.card--totals24 h3,
.card--change h3 {
  margin-top: auto;
}

.card--change.positive h3 {
  color: #73bc86;
}

.card--change.negative h3 {
  color: #f8535a;
}

.card--detractors,
.card--passives,
.card--promoters {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  width: 31%;
}

.card--detractors svg,
.card--passives svg,
.card--promoters svg {
  font-size: 3.2rem;
}

.card--detractors h3,
.card--passives h3,
.card--promoters h3 {
  font-size: 2.5rem;
}

.card--detractors svg {
  color: #f8535a;
}

.card--passives svg {
  color: #f9c255;
}

.card--promoters svg {
  color: #73bc86;
}
