* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  padding: 3rem;
  min-height: 100vh;
}

.btn {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3 ease-in;
  -o-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.dashboard {
  left: 50%;
  max-width: 580px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}

.dashboard h1,
h2 {
  font-size: 2.3rem;
  text-align: center;
}

.dashboard h1 {
  font-size: 6rem;
  margin-top: 1.5rem;
}
